<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Pedidos enviados</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                    <th>
                                        Fecha de pedido
                                    </th>
                                    <th>
                                        Fecha enviado
                                    </th>
                                    <!-- <th>
                                        Acciones
                                    </th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let purchaseOrder of purchaseOrders; index as i">
                                        <td>
                                           {{i+1}}
                                        </td>
                                        <td>
                                            {{purchaseOrder.customer.name + " " +purchaseOrder.customer.lastName}}
                                        </td>
                                        <td>
                                            {{purchaseOrder.total | currency}}
                                        </td>
                                        <td>
                                            {{purchaseOrder.createAt | date:'medium'}}
                                        </td>
                                        <td>
                                            {{purchaseOrder.shippingDate | date:'medium'}}
                                        </td>
                                        <td>
                                            <button mat-raised-button type="submit" class="btn btn-primary" (click)="details(purchaseOrder.id)">Detalles</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  